<h1>Contra la computadora</h1>
<h4>Total de Juegos: <%= total %></h4>
<dt>Juegos ganados: <%= ganados %></dt>
<dd>Mejor puntaje: <%= mejor %></dd>
<dd>Puntaje acumulado: <%= puntaje %></dd>
<p>Juegos perdidos: <%= perdidos %></p>
<form method='GET' action='/perfil'>
		<input type='submit' value='Regresar'/>
</form>